# Python Cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# Data (Crucial: do not upload massive datasets to GitHub)
data/raw/*.csv
data/processed/*.csv
!data/raw/.gitkeep
!data/processed/.gitkeep

# Output Figures/Reports (Optional, but usually good to ignore if they change constantly)
# We will keep the final output figures to show them off, but ignore temporary ones if any
# output/figures/
# output/reports/

# OS files
.DS_Store
Thumbs.db
